div {
 height: 100px;
 width: 100px;
 
}
.container {
    width: 720px;
    margin: auto;
    
    
}

.fixed {
    position: fixed;
    background-color: rgb(0, 150, 250);
    width: 200px;
    height: 150px;
    color: white;
}

.relative {
    position: relative;
    background-color: rgb(132, 0, 255);
    height: 250px;
    width: 100%;
    color: white;
}

.absolute {
    background-color: blue;
    height: 150px;
    width: 200px;
    right: -20px;
    bottom: 0;
    position: absolute;
    color: white;
}